<?xml version="1.0"?>
<configuration>
  <system.webServer>
  <!-- see  https://blogs.iis.net/iisteam/getting-started-with-the-iis-cors-module -->
    <!-- 
    <cors enabled="true">
      <add origin="*" />
    </cors> 
    -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders> 
    </httpProtocol>
  </system.webServer>
</configuration>